In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
df = pd.read_csv("Data.csv")

In [ ]:
df.isnull().sum()
pd.read_csv("Data.csv")

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [ ]:
fig.ax = plt.subplots(figsize=(5,5))
sns.distplot(dataset.Label)

NameError: ignored

In [ ]:
df['Label'].fillna(df['ImageId']).median(),inplace=True)
df.isnull().sum()

In [ ]:
df['Label'].replace([np.man],df['ImageId'].mode(),inplace=True)
df.isnull().sum()

NameError: ignored